@font-face {
    font-family: 'Good Timing';
    src: url('/fonts/goodtiming.ttf') format('truetype');
}

@font-face {
    font-family: 'Serpentine';
    src: url('/fonts/serpentine.ttf') format('truetype');
}